* {
   box-sizing: border-box;
   margin: 0;
}

div[class*="color-ball"] {
   border-radius: 100%;
   background-color: gray;
   height: 2em;
   width: 2em;
}

.answer-container,
.guessing-container {
   display: flex;
   gap: 0.25em;
}

.guess {
   display: flex;
   align-items: center;
   gap: 0.25em;
}