* {
   margin: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   overflow: hidden;
}

.custom-window {
   border: 2px outset black;
   /* background-color: black; */
   height: 200px;
   width: 300px;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 1em;
}